<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>E1</title>

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="stylesheet" href="/styles/angular-material/angular-material.css" />
    <link rel="stylesheet" href="/styles/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <div ng-controller="mainController" ng-cloak>
        <md-content class="md-padding" md-selected="data.selectedIndex">
            <md-tabs md-selected="selectedIndex" md-dynamic-height="true">
                <md-tab>
                    <md-tab-label>Cars</md-tab-label>
                    <md-tab-body>
                        <br />
                        <form layout="row" layout-align="start start" ng-submit="drawDiagram()" novalidate>
                            <md-input-container>
                                <label>From</label>
                                <input type="number" ng-model="yearFrom" autofocus>
                            </md-input-container>
                            <md-input-container>
                                <label>To</label>
                                <input type="number" ng-model="yearTo" autofocus>
                            </md-input-container>
                            <br />
                            <md-button type="submit" class="md-primary md-raised">Draw Diagram</md-button>
                        </form>
                        <div id="canvas">
                            <canvas id="polar-area" class="chart chart-polar-area" chart-data="data" chart-labels="labels" chart-options="options">
                            </canvas>
                        </div>
                        <div>
                        <form layout="row" layout-align="start start" ng-submit="search()" novalidate>
                            <md-input-container>
                                <label>Start typing to filter</label>
                                <input ng-model="filterCars" autofocus ng-change="changeFilterCars()">
                            </md-input-container>
                        </form>
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-xs-1">#</th>
                                    <th class="col-xs-3">Brand</th>
                                    <th class="col-xs-3">Model</th>
                                    <th class="col-xs-2">Registration number</th>
                                    <th class="col-xs-1">Power (kW)</th>
                                    <th class="col-xs-1">Year</th>
                                    <th class="col-xs-2"></th>
                                </tr>
                            </thead>
                            <tbody ng-model="cars">
                                <tr ng-repeat="c in cars | filter: filterCars">
                                    <td>{{c.id}}</td>
                                    <td>{{c.brand}}</td>
                                    <td>{{c.model}}</td>
                                    <td>{{c.regnumber}}</td>
                                    <td>{{c.power}}</td>
                                    <td>{{c.year}}</td>
                                    <td align="center"><img class="icon" src="/images/icon-delete.png" alt="delete" ng-click="deleteCar(c.id)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>Add Car</md-tab-label>
                    <md-tab-body>
                        <form layout="row" layout-align="start start" ng-submit="addCar()" novalidate>
                            <md-input-container>
                                <label>Brand</label>
                                <md-select ng-model="brand" ng-change="isBrandSelected()">
                                    <md-option ng-repeat="cb in carBrands" value="{{cb.name}}">
                                        {{cb.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Model</label>
                                <md-select ng-model="model">
                                    <md-option ng-repeat="m in carModels" value="{{m.name}}">
                                        {{m.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Registration number</label>
                                <input ng-model="regnumber" autofocus>
                            </md-input-container>
                            <md-input-container>
                                <label>Power (kW)</label>
                                <input type="number" ng-model="power" autofocus>
                            </md-input-container>
                            <md-input-container>
                                <label>Year</label>
                                <input type="number" ng-model="year" autofocus>
                            </md-input-container>
                            <br />
                            <md-button type="submit" class="md-primary md-raised">Add new</md-button>
                        </form>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
    <script src="/scripts/jquery/dist/jquery.js"></script>
    <script src="/scripts/angular/angular.js"></script>
    <script src="/scripts/angular-aria/angular-aria.js"></script>
    <script src="/scripts/angular-animate/angular-animate.js"></script>
    <script src="/scripts/angular-material/angular-material.js"></script>
    <script src="/scripts/chart.js/dist/Chart.min.js"></script>
    <script src="/scripts/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/app.js"></script>
</body>

</html>